@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");

/* Global styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Share Tech Mono", monospace;
  font-size: 12px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e7e7e7;
  background: rgb(19, 19, 19);
}

a {
  text-decoration: none;
  color: rgb(99, 186, 207);
}

a:hover {
  color: rgb(255, 0, 0);
}

ul {
  list-style: none;
}

p {
  font-size: 1.4rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}

/* header */

header {
  width: 100%;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav-brand {
  width: 7rem;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.473);
}

.line1 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  background: linear-gradient(
    135deg,
    rgb(228, 26, 26) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line1:hover {
    background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(228, 26, 26) 100%
  );
}

.line2 {
  width: 30px;
  height: 3px;
  background: linear-gradient(
    135deg,
    rgb(228, 26, 26) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line2:hover {
    background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(228, 26, 26) 100%
  );
}

.line3 {
  width: 15px;
  height: 3px;
  margin: 5px 0;
  margin-left: 15px;
  background: linear-gradient(
    135deg,
    rgb(228, 26, 26) 0%,
    rgb(255, 255, 255) 100%
  );
}

.line3:hover {
    background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgb(228, 26, 26) 100%
  );
}

.burger-menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgb(0, 0, 0);
  padding: 1.2rem;
  border-radius: 50%;
  margin: 1.2rem;
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #222222;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  z-index: 998;
  transition: all 650ms ease-in-out;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
}

.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #cecece;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: rgb(228, 26, 26);
}

.toggle {
  background: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0px;
}

@keyframes navLinkAnimate {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Landing Page */
.landing-page {
  width: 100%;
  height: 100vh;
  background: url("images/paul-frenzel-MnHQMzC6n-o-unsplash.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.main-message {
  width: 100%;
  max-width: 58rem;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-message h2 {
  letter-spacing: 1.2rem;
  font-size: 2rem;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 5s steps(27), blink 1s ease-in-out 7s infinite;
  width: 27ch;
  margin: auto;
  border-right: 4px solid rgba(255, 255, 255, 1);
}

@keyframes typing {
  75% {
    width: 0ch;
    color: rgb(255, 0, 0);
  }
  100% {
    width: 27ch;
  }
}

@keyframes blink {
  0% {
    border-right: 4px solid rgba(255, 255, 255, 0);
  }
  100% {
    border-right: 4px solid rgb(194, 194, 194);
  }
}

.main-message h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: rgb(24, 158, 211);
  background: linear-gradient(
    to right,
    rgb(24, 158, 211) 0%,
    rgb(255, 0, 0) 100%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-message p {
  text-transform: none;
  font-size: 1.7rem;
  font-weight: 400;
}

.intro-btn {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0 9px;
  background: linear-gradient(
    to right,
    rgba(24, 158, 211, 0.5) 0%,
    rgba(255, 0, 0, 0.507) 100%
  );
  border-radius: 2rem;
  color: #fafafa;
  padding: 1rem 2.5rem;
  display: inline-block;
  margin-top: 2rem;
  transition: background-color 650ms;
  font-weight: 800;
  letter-spacing: 2px;
}

.btn:hover {
  color: #fafafa;
  background: linear-gradient(
    to left,
    rgba(24, 158, 211, 0.5) 0%,
    rgba(255, 0, 0, 0.507) 100%
  );
}

.scroll-down i {
  color: #fafafa;
  transition: color 650ms;
  margin-top: 2rem;
  font-size: 3.5rem;
}

.scroll-down i:hover {
  color: rgb(255, 0, 0);
}

/* About */

.about {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.about .container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.about-img img {
  height: 17rem;
  width: auto;
  border-radius: 0%;
  margin: 2rem;
  box-shadow: 0 20px 30px 0 rgba(94, 245, 245, 0.377);
  border-style: solid;
  border-color: rgb(1, 255, 255);
}

.about-img img:hover {
  border-color: rgb(255, 1, 1);
  box-shadow: 0 20px 30px 0 rgba(255, 112, 112, 0.377);
}

.about-text-box {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.about-text-box h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.about-text-box p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin-bottom: 1.45rem;
}

hr {
  margin: 4rem 0;
  background: linear-gradient(
    to right,
    rgb(24, 158, 211) 0%,
    rgb(255, 0, 0) 100%
  );
  border: 0;
  height: 1px;
}

/* Services */

.services {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 90rem;
  margin: auto;
}

.title-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.title-heading h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem 0;
}

.title-heading p {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5rem;
}

.service-tiers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
}

.tier-item {
  height: 30rem;
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.tier-item i {
  font-size: 3.5rem;
  color: rgb(1, 255, 255);
}

.tier-item i:hover {
  color: red;
}

.tier-item h2 {
  font-size: 2rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgb(24, 158, 211) 0%,
    rgb(255, 0, 0) 100%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tier-item p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

/* Projects */

.projects {
  padding: 3rem 0;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
}

.has-margin-right {
  margin: 0 3rem 0 0;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.45rem 5rem 1.45rem;
}

.project-img {
  flex: 1;
}

.project-description {
  flex: 1;
}

.project-description h2 {
  font-size: 2.5rem;
  margin: 2rem 0;
  background: linear-gradient(
    to right,
    rgb(24, 158, 211) 0%,
    rgb(255, 0, 0) 100%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-description p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

.project-link {
  display: inline-block;
  margin: 2rem 0;
  font-size: 1.4rem;
}

/* Contact */

.contact {
  width: 100%;
  min-height: 100vh;
  max-width: 70rem;
  margin: auto;
  padding-top: 5rem;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  padding: 0;
  margin: 0.9rem 2rem;
}

.contact .container {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Footer */

footer {
  width: 100%;
  max-width: 70rem;
  margin: auto;
  padding: 2.5rem;
  color: #8a8a8a;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

footer a {
  margin: 0 0.2rem;
}

.footer-coded-by {
  margin: 2rem 0;
}

.footer-coded-by button {
    width: 2em;
    border-radius: 50%;
}

.footer-coded-by button:hover span {
    display: none;
}

.footer-coded-by button:hover::after {
    content: "❤️";
}

.footer-social a {
  margin: 0 0.5rem;
  font-size: 2rem;
}

/* Responsive Design */

@media (max-width: 750px) {
  .main-message h3 {
    font-size: 3rem;
  }
  .about .container {
    flex-direction: column;
  }
  p {
    font-size: 1.3rem;
  }
  .title-heading {
    margin: 0;
  }

  .services-tiers {
    gap: 0;
  }
  .project-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    box-shadow: 0 20px 30px 0 rgba(212, 255, 255, 0.15);
  }
  .project-img {
    width: 20rem;
  }
}

@media (max-width: 665px) {
  .main-message {
    top: 55%;
  }
  .main-message h2 {
    letter-spacing: 1rem;
    font-size: 1.5rem;
    width: 29ch;
  }

  .main-message h3 {
    font-size: 2rem;
  }

  .main-message p {
    font-size: 1.3rem;
  }
  .btn {
    border-radius: 0.9rem;
    padding: 0.9rem 0.9rem;
  }
  .about-text-box h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .about-text-box p {
    margin: 0 0 2.45rem;
  }

  .title-heading h2 {
    margin-bottom: 2rem;
  }
  .title-heading p {
    font-size: 1.3rem;
  }

  .contact .container {
    flex-direction: column;
  }

  footer,
  footer p {
    font-size: 1.2rem;
  }
}

.glitch {
	position: relative;
	color: white;
	font-size: 4em;
	letter-spacing: .5em;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
	animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	left: 2px;
	text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
	clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
	animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	left: -2px;
	text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
	0% {
		clip: rect(5px, 9999px, 14px, 0);
		transform: skew(0.48deg);
	}

	5% {
		clip: rect(58px, 9999px, 47px, 0);
		transform: skew(0.48deg);
	}

	10% {
		clip: rect(53px, 9999px, 46px, 0);
		transform: skew(0.78deg);
	}

	15% {
		clip: rect(13px, 9999px, 75px, 0);
		transform: skew(0.52deg);
	}

	20% {
		clip: rect(82px, 9999px, 82px, 0);
		transform: skew(0.24deg);
	}

	25% {
		clip: rect(63px, 9999px, 28px, 0);
		transform: skew(0.21deg);
	}

	30% {
		clip: rect(78px, 9999px, 42px, 0);
		transform: skew(0.93deg);
	}

	35% {
		clip: rect(63px, 9999px, 41px, 0);
		transform: skew(0.97deg);
	}

	40% {
		clip: rect(2px, 9999px, 13px, 0);
		transform: skew(0.98deg);
	}

	45% {
		clip: rect(11px, 9999px, 66px, 0);
		transform: skew(0.97deg);
	}

	50% {
		clip: rect(58px, 9999px, 95px, 0);
		transform: skew(0.76deg);
	}

	55% {
		clip: rect(60px, 9999px, 97px, 0);
		transform: skew(0.8deg);
	}

	60% {
		clip: rect(19px, 9999px, 71px, 0);
		transform: skew(0.93deg);
	}

	65% {
		clip: rect(47px, 9999px, 69px, 0);
		transform: skew(0.94deg);
	}

	70% {
		clip: rect(4px, 9999px, 59px, 0);
		transform: skew(0.6deg);
	}

	75% {
		clip: rect(25px, 9999px, 88px, 0);
		transform: skew(0.62deg);
	}

	80% {
		clip: rect(54px, 9999px, 77px, 0);
		transform: skew(0.27deg);
	}

	85% {
		clip: rect(63px, 9999px, 62px, 0);
		transform: skew(0.84deg);
	}

	90% {
		clip: rect(65px, 9999px, 35px, 0);
		transform: skew(0.19deg);
	}

	95% {
		clip: rect(20px, 9999px, 18px, 0);
		transform: skew(0.74deg);
	}

	100% {
		clip: rect(25px, 9999px, 57px, 0);
		transform: skew(0.7deg);
	}
}

@keyframes glitch-anim2 {
	0% {
		clip: rect(16px, 9999px, 39px, 0);
		transform: skew(0.69deg);
	}

	5% {
		clip: rect(18px, 9999px, 43px, 0);
		transform: skew(0.71deg);
	}

	10% {
		clip: rect(51px, 9999px, 45px, 0);
		transform: skew(0.96deg);
	}

	15% {
		clip: rect(2px, 9999px, 44px, 0);
		transform: skew(0.46deg);
	}

	20% {
		clip: rect(81px, 9999px, 41px, 0);
		transform: skew(0.98deg);
	}

	25% {
		clip: rect(21px, 9999px, 20px, 0);
		transform: skew(0.79deg);
	}

	30% {
		clip: rect(31px, 9999px, 36px, 0);
		transform: skew(0.44deg);
	}

	35% {
		clip: rect(19px, 9999px, 65px, 0);
		transform: skew(0.21deg);
	}

	40% {
		clip: rect(4px, 9999px, 29px, 0);
		transform: skew(0.49deg);
	}

	45% {
		clip: rect(15px, 9999px, 69px, 0);
		transform: skew(0.9deg);
	}

	50% {
		clip: rect(46px, 9999px, 96px, 0);
		transform: skew(0.28deg);
	}

	55% {
		clip: rect(84px, 9999px, 6px, 0);
		transform: skew(0.24deg);
	}

	60% {
		clip: rect(48px, 9999px, 81px, 0);
		transform: skew(0.64deg);
	}

	65% {
		clip: rect(95px, 9999px, 4px, 0);
		transform: skew(0.5deg);
	}

	70% {
		clip: rect(85px, 9999px, 65px, 0);
		transform: skew(0.25deg);
	}

	75% {
		clip: rect(46px, 9999px, 9px, 0);
		transform: skew(0.31deg);
	}

	80% {
		clip: rect(22px, 9999px, 22px, 0);
		transform: skew(0.06deg);
	}

	85% {
		clip: rect(41px, 9999px, 97px, 0);
		transform: skew(0.91deg);
	}

	90% {
		clip: rect(26px, 9999px, 58px, 0);
		transform: skew(0.86deg);
	}

	95% {
		clip: rect(9px, 9999px, 59px, 0);
		transform: skew(0.39deg);
	}

	100% {
		clip: rect(20px, 9999px, 38px, 0);
		transform: skew(0.62deg);
	}
}

@keyframes glitch-skew {
	0% {
		transform: skew(-4deg);
	}

	10% {
		transform: skew(1deg);
	}

	20% {
		transform: skew(-1deg);
	}

	30% {
		transform: skew(2deg);
	}

	40% {
		transform: skew(3deg);
	}

	50% {
		transform: skew(-3deg);
	}

	60% {
		transform: skew(-2deg);
	}

	70% {
		transform: skew(4deg);
	}

	80% {
		transform: skew(3deg);
	}

	90% {
		transform: skew(1deg);
	}

	100% {
		transform: skew(0deg);
	}
}