* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
  }
  
  body {
    background-color: #212529;
  }

  .logo {
    width: 30px;
    border-radius: 100px;
  }

  nav {
    align-content: center;
  }

  .section-skills {
    background: url('bence-boros-ApjcYVl-h-o-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-youtube {
    background: url('camera-r.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  
  .section-github {
    background: url('bence-boros-ApjcYVl-h-o-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }